.container{
  border: solid #007bff;
  border: solid #2196F3;
  border-radius: 5px;
  width: 60%; height: 50vh;
  margin-left: 450px;
  margin-bottom: 100px
}
.row{
  margin-top: 40px;
}
.col-4{
  margin-left: 150px;
}
.text-center{
  margin-bottom: 20px;
}
button{
  margin-top: 20px;
  border-radius: 3px;
}
