<header id="header" class="fixed-top header-inner-pages">
  <div class="container-fluid d-flex align-items-center justify-content-between" style="height: 80px">

    <h1 class="logo"><a href="#">C0920G1
      <img src="assets/img/logoC09.png" style="margin-bottom: 10px;height: 60px">
    </a></h1>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a href="#">Hợp đồng</a></li>
        <li class="drop-down"><a href="#">Các loại bảo hiểm <i class="fas fa-angle-down"></i></a>
          <ul>
            <li><a href="#">Bảo hiểm bắt buộc TNDS của chủ xe cơ giới</a></li>
            <li><a href="#">Bảo hiểm TNDS của chủ xe đối với hàng hóa</a></li>
            <li><a href="#">Bảo hiểm thiệt hại vật chất xe cơ giới</a></li>
            <li><a href="#">Bảo hiểm người ngồi trên xe và tai nạn lái phụ xe</a></li>
          </ul>
        </li>
        <li><a href="#">Khuyến mãi</a></li>
        <li><a href="#">Thông tin bảo hiểm</a></li>
        <li><a href="#">Hỗ trợ</a></li>


      </ul>
    </nav><!-- .nav-menu -->
    <p class="scrollto mt-3" >
      <a href="#" >Đăng ký </a>
      <label style="color: white;font-weight: bold"> | </label>
      <a href="#" > đăng nhập</a>
    </p>
  </div>
</header><!-- End Header -->

<main id="main" style="padding-top: 23px">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">

    <!--    content-->


  </section>
</main>
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>C0920G1</h3>
            <p>
              Hải Châu Đà Nẵng<br>
              NY 535022, VN<br><br>
              <strong>Phone:</strong> +032 696 5824<br>
              <strong>Email:</strong> codeGym@gmai.com.vn<br>
            </p>
            <div class="link-menu pt-2">
              <a href="#">
                <img src="assets/img/fb.png" style="margin-right: 5px"></a>
              <a href="#">
                <img src="assets/img/tw.png" style="margin-right: 5px"></a>
              <a href="#">
                <img src="assets/img/in.png" style="margin-right: 5px"></a>
              <a href="#">
                <img style="max-height:33px;max-width:33px;"
                     src="https://baovietonline.cdn.vccloud.vn/Images/zalo.png"></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Trang chủ</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Thông tin</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Giới thiệu</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Hỗ trợ khách hàng</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Khuyến mãi</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Tư vấn</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Dịch vụ</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Bảo hiểm sức khỏe</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Bảo hiểm nhân thọ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Bảo hiểm du lịch</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Bảo hiểm xe cơ giới</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Bảo hiểm tai nạn</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Liên hệ với chúng tôi</h4>
          <p>Các bạn có thể liên hệ qua số điện thoại hoặc để lại tin nhắn qua mail chúng tôi sẽ phản hồi sớm nhất.</p>
          <form action="" method="post">
            <input type="email" name="email" placeholder="email"><input type="submit" value="Đăng Ký">
          </form>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright" style="text-align: center">
      <div class="company">
        <span>Trụ sở chính: 295 Nguyễn Tất Thành, Phường Thanh Bình, Quận Hải Châu, Đà Nẵng</span>
      </div>
      <div class="address-phone">
        Tel: <span class="tel">(+84) 1234 5678</span> - Fax: <span class="tel">(+84) 1234 1234</span> -
        Email: bvvn@codegym.com.vn
      </div>
      <div class="dmca">
        <span>© 2021 CodeGym Insurance, All Rights Reserved</span>
      </div>
    </div>

  </div>
</footer><!-- End Footer -->

