<div class="menu">
  <div class=".logo col-2 text-center float-left">
    <div class="row">
      <h4 class="text-light mt-2 pt-1 ml-5">C0920G1</h4>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/car-insurace-image.appspot.com/o/undefined%2Fpixlr-bg-result.png_1616031360137?alt=media&token=b1b9ff37-e60a-42d3-b439-0b9428974558"
        width="50px" class="mt-1">
    </div>
  </div>

  <div class="col-2 float-right mt-2">
    <a class="float-left text-light mr-1 mt-2">{{ username }}</a>
    <a role="button" class="float-left btn btn-light mt-1" (click)="logout()">Đăng xuất</a>
  </div>
</div>
<div class="col-2 float-left menu-left-admin">
  <div class="row">
    <ul class="col-12">
      <li class=" pt-2 pb-2 menu-var">
        <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/admin/employee']">
          <i class="fas fa-user-friends mr-2 col-1"></i>Nhân viên
        </a>
      </li>
      <li class=" pt-2 pb-2 menu-var">
        <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/employee/customers-list']">
          <i class="fas fa-user-tie mr-2 col-1"></i>Khách hàng
        </a>
      </li>
      <li class=" pt-2 pb-2 menu-var">
        <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/employee/contract']">
          <i class="fas fa-file-signature mr-2 col-1"></i>Hợp đồng
        </a>
      </li>

      <li class=" pt-2 pb-2 menu-var">
        <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/employee/cars-list']">
          <i class="fas fa-car mr-2 col-1"></i>Danh sách xe
        </a>
      </li>

      <li class=" pt-2 pb-2 menu-var">
        <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/employee/accident']">
          <i class="fas fa-hand-holding-usd mr-2 col-1"></i>Đền bù
        </a>
      </li>

      <li class=" pt-2 pb-2 menu-var">
        <a class="text-decoration-none text-dark  pt-2 pb-2" [routerLink]="['/employee/product']">
          <i class="fas fa-poll-h mr-2 col-1"></i>Sản phẩm
        </a>
      </li>

      <li class=" pt-2 pb-2 menu-var">
        <a class="text-decoration-none text-dark  pt-2 pb-2 "
           [routerLink]="['/employee/detail/' + employeeOfIdAccount]">
          <i class="fas fa-user mr-2 col-1"></i>Tài khoản
        </a>
      </li>
      <li class=" pt-2 pb-2 menu-var">
        <a class="text-decoration-none text-dark  pt-2 pb-2 " [routerLink]="['/employee/changepass/' + employeeOfIdAccount]">
          <i class="fas fa-key mr-2 col-1"></i>Đổi mật khẩu
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="col-10 float-right"><router-outlet></router-outlet></div>
<div style="clear: both">
  <app-footer></app-footer>
</div>


