<app-header></app-header>
<div style="padding-top: 23px">
  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <!--    content-->
    <div class="container" style="min-height: 600px">
      <h1 class="text-center pt-3">Màn hình thẩm định</h1>
      <div class="row pt-5">
        <div class="col-8">


          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Mã số hợp đồng(<span>*</span>):</label>
            <div class="col-sm-8">

            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Lý do bồi thường(<span>*</span>):</label>
            <div class="col-sm-8">
              <textarea type="text" class="form-control" style="height: 150px" formControlName="reason"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Hình ảnh thực tế(<span>*</span>):</label>
            <div class="col-sm-8">
              <div class="form-inline">
                <input class="col-6 form-control" id="imgUrl" type="file" hidden>
                <button class="btn btn-outline-success">Chọn ảnh</button>

              </div>
              <label style="color: red"></label>
              <div class="form-inline pt-3">
                <img id="img-accident" style="width: 100px">
              </div>
            </div>
          </div>

        </div>

        <div class="col-4">
          <div class="p-2 information" style="border: solid">
            <h4 style="text-align: center">Thông tin hợp đồng</h4>
            <div class="row">
              <label class="col-6 col-form-label">Mã khách hàng:</label>
              <div class="col-6">

              </div>
            </div>
            <div class="row">
              <label class="col-6 col-form-label">Họ tên:</label>
              <div class="col-6">

              </div>
            </div>
            <div class="row">
              <label class="col-6 col-form-label">Địa chỉ:</label>
              <div class="col-6">

              </div>
            </div>
            <div class="row">
              <label class="col-6 col-form-label">Số điện thoại:</label>
              <div class="col-6">

              </div>
            </div>
            <div class="row">
              <label class="col-6 col-form-label">Email:</label>
              <div class="col-6">

              </div>
            </div>
            <div class="row">
              <label class="col-6 col-form-label">Biển số:</label>
              <div class="col-6">

              </div>
            </div>
            <div class="row">
              <label class="col-6 col-form-label">Số khung:</label>
              <div class="col-6">

              </div>
            </div>
            <div class="row">
              <label class="col-6 col-form-label">Ngày làm hợp đồng:</label>
              <div class="col-6">

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section>
</div>
<!-- ======= Footer ======= -->
<app-footer></app-footer>

