<div class="content row">
  <div class="col-1">
  </div>
  <div class="col-10 float-right mt-3">
    <form  [formGroup]="formAddNewCustomer" (ngSubmit)="addNewCustomer(formAddNewCustomer.value)">
      <h3>Thêm mới Khách hàng</h3>
      <hr/>
      <fieldset>
        <legend>Thêm mới tài khoản</legend>

        <div class="item">
          <label class="col-2 float-left " for="account">
            Tài khoản (<span>*</span>):
          </label>
          <input id="account" class="col-6 form-control float-left" type="text" formControlName="users">
        </div>
        <div class="item" style="clear: both">
          <label class="col-2 float-left ">
          </label>
          <p *ngIf="formAddNewCustomer.get('users').hasError('required') && formAddNewCustomer.get('users').touched"
             class="text-danger">Vui lòng nhập tài khoản</p>
          <p *ngIf="formAddNewCustomer.get('users').hasError('pattern') && formAddNewCustomer.get('users').touched"
             class="text-danger">Tài khoản tối thiểu 8 kí tự gồm cả chữ và số</p>
        </div>


        <div style="clear: both">
          <div class="item">
            <label class="col-2 float-left" for="password">
              Mật khẩu (<span>*</span>):
            </label>
            <input id="password" type="password" class="col-6 form-control float-left" formControlName="newPassword">
          </div>
          <div class="item" style="clear: both">
            <label class="col-2 float-left">
            </label>
            <p
              *ngIf="formAddNewCustomer.get('newPassword').hasError('required') && formAddNewCustomer.get('newPassword').touched"
              class="text-danger">Vui lòng nhập mật khẩu</p>
            <p
              *ngIf="formAddNewCustomer.get('newPassword').hasError('pattern') && formAddNewCustomer.get('newPassword').touched"
              class="text-danger">Mật khẩu tối thiểu 8 kí tự gồm cả chữ và số</p>
          </div>


          <div class="item">
            <label class="col-2 float-left" for="newPassword" style="clear: both">
              Xác nhận (<span>*</span>):
            </label>
            <input class="col-6 form-control float-left" id="newPassword" type="password"
                   formControlName="confirmPassword">
          </div>
          <div class="item" style="clear: both">
            <label class="col-2 float-left">
            </label>
            <p class="text-danger " *ngIf="isMessage">Tài khoản đã tồn tài hoặc mật khẩu nhập sai</p>
          </div>

        </div>

      </fieldset>
      <fieldset>
        <legend>Thêm mới thông tin</legend>

        <div class="item" style="clear: both">
          <label class="col-2 float-left" for="name">
            Họ Tên (<span>*</span>):
          </label>
          <input name="name" id="name" class="col-6 form-control float-left" type="text"
                 formControlName="name">
        </div>
        <div class="item" style="clear: both">
          <label class="col-2 float-left">
          </label>
          <p *ngIf="formAddNewCustomer.get('name').hasError('required') && formAddNewCustomer.get('name').touched"
             class="text-danger">Vui lòng nhập tên</p>
          <p *ngIf="formAddNewCustomer.get('name').hasError('pattern') && formAddNewCustomer.get('name').touched"
             class="text-danger">Vui lòng nhập đúng tên</p>
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left" for="birthDay" style="clear: both">
            Ngày Sinh (<span class="text-danger">*</span>):
          </label>
          <input id="birthDay" class="col-6 form-control float-left" type="date" max="2021-03-23"
                 formControlName="dateOfBirth">
        </div>
        <div class="item" style="clear: both">
          <label class="col-2 float-left">
          </label>
          <p
            *ngIf="formAddNewCustomer.get('dateOfBirth').hasError('required') && formAddNewCustomer.get('dateOfBirth').touched"
            class="text-danger">Vui lòng nhập ngày sinh</p>
          <p *ngIf="formAddNewCustomer.get('dateOfBirth').hasError('ageGreaterThan18')
    && formAddNewCustomer.get('dateOfBirth').dirty" style="color: red">Chưa đủ 18 tuổi</p>
        </div>


        <div class="item" style="clear: both">
          <label class="col-2 float-left">
            Giới tính (<span>*</span>):
          </label>
          <div class="col-10 float-left checkRadio" for="gender">
            <input id="male" name="gender" class="float-left" value="1" type="radio" formControlName="gender"
                   checked/><label for="male">Nam</label>
            <input id="female" name="gender" class="float-left" value="0" type="radio" formControlName="gender"/><label
            for="female">Nữ</label>
            <input id="others" name="gender" class="float-left" value="2" type="radio" formControlName="gender"/><label
            for="others">Khác</label>
          </div>
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left">
          </label>
          <p *ngIf="formAddNewCustomer.get('gender').hasError('required') && formAddNewCustomer.get('gender').dirty"
             class="text-danger">Vui lòng chọn giới tính</p>
        </div>


        <div class="item" style="clear: both">
          <label class="col-2 float-left" for="idCard" style="clear: both">
            CMND (<span class="text-danger">*</span>):
          </label>
          <input id="idCard" class="col-6 form-control float-left" type="number" formControlName="idCard">
        </div>
        <div class="item" style="clear: both">
          <label class="col-2 float-left">
          </label>
          <p *ngIf="formAddNewCustomer.get('idCard').hasError('required') && formAddNewCustomer.get('idCard').touched"
             class="text-danger">Vui lòng nhập CMND</p>
          <p *ngIf="formAddNewCustomer.get('idCard').hasError('pattern')&& formAddNewCustomer.get('idCard').touched"
             class="text-danger">CMND gồm 9 số</p>
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left ">
          </label>
          <p class="text-danger">
            {{listError.existIdCard}}
          </p>
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left ">
          </label>
          <p *ngIf="isMessage2" class="text-danger">
            CMND đã được đăng ký
          </p>
        </div>

        <div class="item">
          <label class="col-2 float-left" for="phone" style="clear: both">
            Điện thoại (<span class="text-danger">*</span>):
          </label>
          <input id="phone" class="col-6 form-control float-left" type="text" formControlName="phone">
        </div>
        <div class="item" style="clear: both">
          <label class="col-2 float-left">
          </label>
          <p *ngIf="formAddNewCustomer.get('phone').hasError('required') && formAddNewCustomer.get('phone').touched"
             class="text-danger">Vui lòng nhập số điện thoại</p>
          <p *ngIf="formAddNewCustomer.get('phone').hasError('pattern')&& formAddNewCustomer.get('phone').touched"
             class="text-danger">Số điện thoại không đúng định dạng</p>
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left ">
          </label>
          <p class="text-danger">
            {{listError.existPhone}}
          </p>
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left ">
          </label>
          <p *ngIf="isMessage3" class="text-danger">
            Điện thoại đã được đăng ký
          </p>
        </div>

        <div class="item">
          <label class="col-2 float-left" for="email" style="clear: both">
            Email (<span class="text-danger">*</span>):
          </label>
          <input id="email" class="col-6 form-control float-left" type="text" formControlName="email">
        </div>
        <div class="item" style="clear: both">
          <label class="col-2 float-left">
          </label>
          <p *ngIf="formAddNewCustomer.get('email').hasError('required') && formAddNewCustomer.get('email').touched"
             class="text-danger">Vui lòng nhập email</p>
          <p *ngIf="formAddNewCustomer.get('email').hasError('pattern')&& formAddNewCustomer.get('email').touched"
             class="text-danger">Email không đúng định dạng</p>
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left ">
          </label>
          <p class="text-danger">
            {{listError.existEmail}}
          </p>
        </div>
        <div class="item" style="clear: both">
          <label class="col-2 float-left ">
          </label>
          <p *ngIf="isMessage1" class="text-danger">
            Email đã được đăng ký
          </p>
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left" for="address">
            Địa Chỉ (<span class="text-danger">*</span>):
          </label>
          <input id="address" class="col-6 form-control float-left" type="text" formControlName="address">
        </div>
        <div class="item" style="clear: both">
          <label class="col-2 float-left">
          </label>
          <p *ngIf="formAddNewCustomer.get('address').hasError('required') && formAddNewCustomer.get('address').touched"
             class="text-danger">Vui lòng nhập địa chỉ</p>
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left" for="city">
            Thành phố (<span class="text-danger">*</span>):
          </label>
          <input id="city" class="col-6 form-control float-left" type="text" formControlName="city">
        </div>
        <div class="item" style="clear: both">
          <label class="col-2 float-left">
          </label>
          <p *ngIf="formAddNewCustomer.get('city').hasError('required') && formAddNewCustomer.get('city').touched"
             class="text-danger">Vui lòng nhập thành phố</p>
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left">
          </label>
          <img [src]="imgSrc" width="100px" height="100px" (click)="fileUploader.click()">
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left" for="image">
            Ảnh Cá Nhân :
          </label>
          <input class="col-6 form-control float-left" type="file" accept="image/*" #fileUploader
                 id="image" formControlName="img" (change)="showPreview($event)">
        </div>

        <div class="item" style="clear: both">
          <label class="col-2 float-left">
          </label>
          <p
            *ngIf="formAddNewCustomer.get('img').hasError('required') && formAddNewCustomer.get('img').touched"
            class="text-danger">Vui lòng chọn hình ảnh</p>
        </div>

      </fieldset>
      <div class="btn-block">
        <button type="submit" class="btn btn-warning" [disabled]="formAddNewCustomer.invalid">Lưu</button>
        <button type="button" [routerLink]="['/employee/customers-list']" class="btn btn-danger ml-3">Hủy</button>
      </div>
    </form>
  </div>
  <div class="col-1">
  </div>
</div>
